<header>
    <ul>
        <li>
           <a href="/home">Home</a>
        </li>
        <li>
            <a href="/character/my-fav-characters">Saved</a>
        </li>
        <li>
            <a href="/character/my-characters">Created</a>
        </li>
        <li>
            <a href="/character/create">Create</a>
        </li>
    </ul>
</header>