<!DOCTYPE html>
<html lang="en">
    <%-include('./layouts/head' ,{page_title:'Create New'})%>
<body>
    <%-include('./layouts/nav')%>
    <main>
    <form action="/character/create" method="POST">
        <label for="name">Name

            <input type="text" name="name" value="">
        </label><br>
        <label for="house">House

            <input type="text" name="house" value="">
        </label><br>
        <label for="patronus">Patronus

            <input type="text" name="patronus" value="">
        </label><br>
        <label for="is_alive">Is Alive

            <input type="text" name="is_alive" value="">
        </label><br>
        <button type="submit">Submit</button>
        
    </form>
</main>
    
</body>
</html>